//weight-bold
//----------H3
.font-700-xl {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
}

//---------H4
.font-700-lg {
    font-weight: 700;
    font-size: 31px;
    line-height: 39px;
}

//---------a
.font-700-md {
    font-weight: 700;
    font-size: 27px;
    line-height: 34px;
}

//weight-medium
.font-500-xl {
    font-weight: 500;
    font-size: 120px;
    line-height: 150px;
}

//-----------H2
.font-500-lg {
    font-weight: 500;
    font-size: 69px;
    line-height: 86px;
}

.font-500-md {
    font-weight: 500;
    font-size: 55px;
    line-height: 69px;
}

//weight-regular
.font-400-xl {
    font-weight: 400;
    font-size: 65px;
    line-height: 41px;
}

.font-400-lg {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
}

.font-400-md {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}

.font-400-sm {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
}

//weight-light
//---------p
.font-300-md {
    font-weight: 300;
    font-size: 27px;
    line-height: 34px;
}